
<ion-header>

  <ion-navbar>
    <ion-title>आविष्कार तथा महत्वपूर्ण प्रश्न </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card>
    <ul>
      <li>
        Ques - 1 इलेक्ट्रॉन की खोज किसके द्वारा  की  गयी  ?  <br>
        Ans - 1 जे.जे. थामसन 
      </li>
      <li>
        Ques - 2 गुरुत्वाकर्षण के नियम किसके द्वारा  बनाये गए ? <br>
        Ans - 2 न्यूटन
      </li>
      <li>
        Ques - 3 परमाणु बम का आविष्कार किसके द्वारा किया गया ?  <br>
        Ans - 3 आटोहान
      </li>
      <li>
        Ques - 4 सन 1906 में ढाका में मुस्लिम लीग की स्थापना किसके द्वारा  की  गयी  ? <br>
        Ans - 4 आगा ख़ान और सलिमुल्ला खां ने 
      </li>
      <li>
        Ques - 5 भारत में डाक टिकट पहली बार कब उपयोग में लाया गया ? <br>
        Ans - 5 1854
      </li>
      <li>
        Ques - 6 बंगाल, बिहार, और ओडिसा में स्थाई बंदोबस्त कब और किसके द्वारा लागु किया ? <br>
        Ans - 6 1793 में लार्ड कार्नवालिस ने 
      </li>
      <li>
        Ques - 7 उस मुग़ल बादशाह का नाम क्या है जिसकी मृत्यु दिल्ली में पुस्तकालय से सीडियों से गिरकर हुई ? <br>
        Ans - 7 हुमायूँ
      </li>
      <li>
        Ques - 8 अकबर ने फतेहपुर सिकरी में बुलंद दरबाजा क्यों बनवाया ? <br>
        Ans - 8 गुजरात विजय
      </li>
      <li>
        Ques - 9  भू-राजस्व की दहसाला पद्धति किसके द्वारा लागु की ? <br>
        Ans - 9 अकबर 
      </li>
      <li>
        Ques - 10 औरंगाबाद में ताजमहल की प्रतिकर्ति किसके द्वारा बनवाई थी? <br>
        Ans - 10 औरंगजेब ने 
      </li>
      <li>
        Ques - 11 लंदन में ‘इंडिया हाउस’ की स्थापना किसके द्वारा की गयी ? <br>
        Ans - 11 श्यामजी कृष्ण वर्मा
      </li>
      <li>
        Ques - 12 जब कांग्रेस की स्थापना की गयी तब भारत का  वायसराय कौन था <br>
        Ans - 12 लॉर्ड डफरिन 
      </li>
      <li>
        Ques - 13 सबसे बड़ा प्रायद्वीप विस्व का  कौनसा है ? <br>
        Ans - 13 अरब प्रायद्वीप
      </li>
      <li>
        Ques - 14 पश्चिमी घाट को किस दूसरे नाम से जाना जाता है? <br>
        Ans - 14 सहयाद्रि पर्वत श्रखला
      </li>
      <li>
        Ques - 15  तम्बाकू के धुएँ में कौनसा हानिकारक तत्व रहता है  <br>
        Ans - 15 निकोटिन 
      </li>
      <li>
        Ques - 16 राष्ट्रपति का अध्यादेश कितने समय तक लागू रहता है ? <br>
        Ans - 16 6 मास 
      </li>
      <li>
        Ques - 17 मौसमी गुब्बारों में कोनसी गैस का प्रयोग होता है ? <br>
        Ans - 17 हीलियम 
      </li>
      <li>
        Ques - 18 गाय के दूध का पीला रंग किसकी उपस्थिति के कारण होता है ? <br>
        Ans - 18 कैरोटीन 
      </li>
      <li>
        Ques - 19 विश्र्व एडस दिवस किस दिन मनाया जाता है ?  <br>
        Ans - 19 1 दिसंबर 
      </li>
      <li>
        Ques - 20 भारत के राष्ट्रीय ध्वज का डिजाईन किसके द्वारा तैयार किया है?  <br>
        Ans - 20 मैडम भीखाजी कामा 
      </li>
      <li>
        Ques - 21  सन 1815 में आत्मीय सभा का गठन किसके द्वारा किया था? <br>
        Ans - 21 राजा राममोहन राय 
      </li>
      <li>
        Ques - 22 चाभी भरी घड़ी में कैनसी ऊर्जा पाई जाती है? <br>
        Ans - 22 स्थितिज ऊर्जा 
      </li>
      <li>
        Ques - 23 फ्यूज की तार कोनसे पदार्थ की बनी होती है? <br>
        Ans - 23 टीन और सीसे की मिश्रधातु 
      </li>
    </ul>
  </ion-card>
</ion-content>
