
<ion-header>

  <ion-navbar>
    <ion-title>भारत में प्रथम  महिलाएँ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ul>
          <li>
            Ques - 1 पहली भारतीय महिला जिसे भारत रत्न से सम्मानित किया गया  <br>
            Ans - 1 इंदिरा गांधी
          </li>
          <li>
            Ques - 2 भारतीय राज्य की पहली महिला राज्यपाल कौन थी  <br>
            Ans - 2 सरोजनी नायडू
          </li>
          <li>
            Ques - 3 पहली महिला मुख्यमंत्री कौन थी भारतीय राज्य की  <br>
            Ans - 3 सुचेता कृपलानी
          </li>
          <li>
              Ques - 4  भारत की पहली केन्द्रीय मंत्री कौन थी <br>
              Ans - 4  राजकुमारी अमृत कौर
            </li>
            <li>
                Ques - 5 पहली महिला अध्यक्ष कौन थी भारतीय राष्ट्रीय कांग्रेस की <br>
                Ans - 5 एनी बेसेंट
              </li>
              <li>
                  Ques - 6 मुख्य चुनाव आयुक्त बनने वाली भारत की पहली महिला कौन थी  <br>
                  Ans - 6 रमा देवी 
                </li>
                <li>
                    Ques - 7 भारत की पहली महिला उच्च न्यायालय की मुख्य न्यायाधीश नियुक्त होने वाली कौन थी  <br>
                    Ans - 7 लीला सेठ 
                  </li>
                  <li>
                      Ques - 8 भारत की पहली महिला सुप्रीम कोर्ट की न्यायाधीश नियुक्त होने वाली कौन थी  <br>
                      Ans - 8 एम फातिमा बीवी 
                    </li>
                    <li>
                        Ques - 9 भारत की पहली महिला लोक सभा के अध्यक्ष पद पर नियुक्त होने वाली कौन थी  <br>
                        Ans - 9 मीरा कुमार 
                      </li>
                      <li>
                          Ques - 10 संयुक्त राष्ट्र महासभा पर भारत की पहली महिला अध्यक्ष नियुक्त होने वाली कौन थी  <br>
                          Ans - 10 विजयलक्ष्मी पंडित 
                        </li>
                        <li>
                            Ques - 11 पहली भारतीय महिला इंग्लिश चैनल तैर कर पार करने वाली कौन थी  <br>
                            Ans - 11 आरती साहा
                          </li>
                          <li>
                              Ques - 12 भारत की पहली महिला ओलंपिक पदक जीतने वाली कौन थी   <br>
                              Ans - 12 कर्णम मल्लेश्वरी
                            </li>
                            <li>
                                Ques - 13 भारत की पहली महिला एशियाड में पदक जीतने वाली कौन थी  <br>
                                Ans - 13 कमलजीत संधू
                              </li>
                              <li>
                                  Ques - 14 भारत की पहली महिला एवरेस्ट शिखर पर चढ़ाई करने वाली कौन थी <br>
                                  Ans - 14 बछेंद्री पाल 
                                </li>
                                <li>
                                    Ques - 15 भारतीय सेना में शौर्य पुरस्कार प्राप्त करने वाली पहली भारतीय महिला कौन थी <br>
                                    Ans - 15 मिताली मधुमिता
                                  </li>
                                  <li>
                                      Ques - 16 भारत की पहली महिला मिस एशिया पैसिफिक का खिताब जीतने वाली कौन थी <br>
                                      Ans - 16 जीनत अमान  
                                    </li>
                                    <li>
                                        Ques - 17 भारत की पहली महिला मिस यूनिवर्स का खिताब जीतने वाली कौन थी  <br>
                                        Ans - 17 सुष्मिता सेन 
                                      </li>
                                      <li>
                                          Ques - 18 भारत की पहली महिला मिस वर्ल्ड का खिताब जीतने वाली कौन थी  <br>
                                          Ans - 18 रीटा फारिया
                                        </li>
                                        <li>
                                            Ques - 19 भारत की पहली महिला मिस अर्थ का खिताब जीतने वाली कौन थी   <br>
                                            Ans - 19 निकोल फारिया 
                                          </li>
                                          <li>
                                            Ques - 19 भारत की मुख्य सूचना आयुक्त का पद भार सँभालने वाली पहली महिला कौन थी   <br>
                                            Ans - 19 दीपक संधू
                                          </li>
                                          <li>
                                            Ques - 19 भारत की पहली महिला केंद्रीय विदेश मंत्री का पद भार सँभालने वाली कौन थी   <br>
                                            Ans - 19 शुष्मा स्वराज 
                                          </li>
                                          <li>
                                            Ques - 19 भारत की पहली महिला दक्षिण ध्रुव तक स्की करने वाली कौन थी   <br>
                                            Ans - 19 नरीना कौशल धर्मशक्तु 
                                          </li>


        </ul>
    </ion-card>
</ion-content>
