
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>आईपीएल विजेता</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-row class="heading">
      <ion-col>2008 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>राजस्थान रॉयल्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>चेन्नई सुपरकिंग्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>मुंबई</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>यूसुफ पठान</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>शेन वाटसन</ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col>2009 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>डेक्कन चार्जर्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>रॉयल चैलेंजर्स बैंगलोर</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>जोहानसबर्ग</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>अनिल कुंबले</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>एडम गिलक्रिस्ट</ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col>2010 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>चेन्नई सुपर किंग्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>मुंबई इंडियंस</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>मुंबई</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>सुरेश रैना</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>सचिन तेंडुलकर</ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row class="heading">
      <ion-col>2011 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>चेन्नई सुपर किंग्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>रॉयल चैलेंजर्स बैंगलोर</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>चेन्नई</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>10</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>मुरली विजय</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>क्रिस गेल</ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row class="heading">
      <ion-col>2012 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>कोलकाता नाइट राइडर्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>चेन्नई सुपर किंग्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>चेन्नई</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>9</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>मनविंदर बिसला</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>सुनील नारायण</ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row class="heading">
      <ion-col>2013 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>मुंबई इंडियंस</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>चेन्नई सुपर किंग्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>कोलकाता</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>9</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>कियरन पोलार्ड</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>शेन वाटसन</ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row class="heading">
      <ion-col>2014 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>कोलकाता नाइट राइडर्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>किंग्स इलेवन पंजाब</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>बैंगलोर</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>मनीष पांडे</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>ग्लेन मैक्सवेल</ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row class="heading">
      <ion-col>2015 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>मुंबई इंडियंस</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>चेन्नई सुपर किंग्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>कोलकाता</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>रोहित शर्मा</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>आंद्रे रसेल</ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row class="heading">
      <ion-col>2016 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>सनराइजर्स हैदराबाद</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>रॉयल चैलेंजर्स बैंगलोर</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>बैंगलोर</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>बेन कटिंग</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>विराट कोहली</ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row class="heading">
      <ion-col>2017 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>मुंबई इंडियंस</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>राइजिंग पुणे सुपरजायंट</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>हैदराबाद</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>क्रुणाल पांड्या</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>बेन स्टोक्स</ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-row class="heading">
      <ion-col>2018 वर्ष</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>विजेता</ion-col>
      <ion-col>चेन्नई सुपर किंग्स</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>उपविजेता </ion-col>
      <ion-col>सनराइजर्स हैदराबाद</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>स्थान</ion-col>
      <ion-col>मुंबई</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कुल टीम </ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>मैच का सर्वोत्तम खिलाड़ी </ion-col>
      <ion-col>शेन वाटसन</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>श्रृंखला के खिलाड़ी </ion-col>
      <ion-col>सुनील नारायण</ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading2">
      <ion-col>आईपीएल टीम</ion-col>
      <ion-col>टीम मालिक</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>दिल्ली डेयरडेविल्स</ion-col>
      <ion-col>जीएमआर स्पोर्ट्स प्रा लिमिटेड</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>मुंबई इंडियंस</ion-col>
      <ion-col>रिलायंस इंडस्ट्रीज</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>कोलकाता नाइट राइडर्स</ion-col>
      <ion-col>जय मेहता और जूही चावला</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>राजस्थान रॉयल्स</ion-col>
      <ion-col>मनोज बदले</ion-col>
    </ion-row>
    <ion-row class="bold-first" >
      <ion-col>चेन्नई सुपर किंग्स</ion-col>
      <ion-col>इंडिया सीमेंट्स लिमिटेड</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>रॉयल चैलेंजर्स बैंगलोर </ion-col>
      <ion-col>डिएगो</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>किंग्स इलेवन पंजाब</ion-col>
      <ion-col>नेस वाडिया, प्रीति जिंटा, मोहित बर्मन, करण पॉल</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>सनराइजर्स हैदराबाद</ion-col>
      <ion-col>कलानिधि मान</ion-col>
    </ion-row>
  </ion-card>

 
</ion-content>
