
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>भारतीय भूगोल</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ul>
      <li>Ques -1 सबसे अधिक वर्षा वाला राज्य कौनसा है भारत का ?<br>
        Ans - 1 मेघालय सबसे अधिक वर्षा वाला राज्य है भारत का
      </li>
      <li>Ques -2 सबसे कम वर्षा वाला राज्य कौनसा है भारत का? <br>
        Ans - 2 राजस्थान सबसे कम वर्षा वाला राज्य है भारत का
      </li>
      <li>Ques - 3 क्षेत्रफल कितना है भारत का? <br>
        Ans - 3 32,87,263 वर्ग कि.मी.
      </li>
      <li>Ques - 4 सम्पूर्ण विश्व के क्षेत्रफल
        का कितना प्रतिशत है भारत का क्षेत्रफल? <br>
        Ans - 4 2.4 प्रतिशत
      </li>
      <li>Ques - 5 भारत और चीन को बिभाजित करने वाली रेखा को क्या कहा जाता है? <br>
        Ans - 5 मैकमोहन रेखा को भारत और चीन को बिभाजित करने वाली रेखा कहा जाता है
      </li>
      <li>Ques - 6 कर्क रेखा किन राज्यों से होकर
        गुजरती है भारत में ?  <br>
        Ans - 6 गुजरात, राजस्थान, मध्य प्रदेश, छत्तीसगढ़,
        झारखंड, प.बंगाल, त्रिपुरा, मिजोरम
      </li>
      <li>Ques - 7 भारत का कौनसा राज्य क्षेत्रफल के आधार पर सबसे बड़ा राज्य है? <br>
        Ans - 7 राजस्थान राज्य भारत का क्षेत्रफल के आधार पर सबसे बड़ा राज्य है
      </li>
      <li>Ques - 8 भारत का क्षेत्रफल के आधार पर सबसे छोटा राज्य कौनसा है? <br>
        Ans - 8 गोवा राज्य भारत का क्षेत्रफल के आधार पर सबसे छोटा राज्य है
      </li>
      <li>Ques - 9 जनसख्या के आधार पर कौनसा राज्य बड़ा है भारत का <br>
        Ans - 9 उत्तर प्रदेश जनसख्या के आधार पर बड़ा राज्य है भारत का
      </li>
      <li>Ques -10 जनसख्या के आधार पर छोटा राज्य कौनसा है भारत का?  <br>
        Ans - 10 सिक्किम जनसख्या के आधार पर छोटा राज्य है भारत का
      </li>
      <li>Ques -11 सुन्दरवन कंहा पाया जाता है भारत में <br>
        Ans - 11 डेल्टाई पश्चिम बंगाल में सुन्दरवन पाया जाता है भारत में
      </li>
      <li>Ques - 12 किस नदी पर बनाया गया है हीराकुंड बाँध <br>
        Ans - 12 महानदी पर बनाया गया है हीराकुंड बाँध
      </li>
      <li>Ques - 13 पहला स्टील प्रोजेक्ट कौन से शहर में स्थापित किया गया था भारत में <br>
        Ans - 13 जमशेदपुर में पहला स्टील प्रोजेक्ट स्थापित किया गया था भारत में
      </li>
      <li>Ques - 14 किस उत्पादन के लिए प्रसिद्ध है अंकलेश्वर <br>
        Ans - 14 पैट्रोलियम के उत्पादन के लिए प्रसिद्ध है अंकलेश्वर
      </li>
      <li>Ques - 15 पहाड़ियाँ कहा स्थित हैं गारो, खासी और जयन्तिया भारत में  <br>
        Ans - 15 मेघालय में गारो, खासी और जयन्तिया  पहाड़ियाँ स्थित हैं भारत में
      </li>
      <li>Ques - 16 किस उद्योग के लिए प्रसिद्ध है नेपानगर <br>
        Ans - 16  अखबारी कागज के उद्योग के लिए प्रसिद्ध है नेपानगर
      </li>
      <li>Ques -17 सबसे महत्त्वपूर्ण लघु उद्योग कौन सा है भारत का ? <br>
        Ans - 17  हथकरघा निर्माण सबसे महत्त्वपूर्ण लघु उद्योग है भारत का
      </li>
                   
    </ul>
  </ion-card>

 
</ion-content>
