<ion-header>
  <ion-navbar>
    <ion-title>अंतरराष्ट्रीय सीमाएं </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>मैकमाहोन रेखा (Macmahon Line) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9> चीन और भारत  </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col> सर हेनरी मैकमोहन द्वारा 1120 किलोमीटर रेखा को निर्धारित किया गया  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>डूरंड रेखा (Durand Line) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9> पाकिस्तान और अफगानिस्तान   </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col> सर मोर्टिमर डूरंड द्वारा इस रेखा को 1886 में निर्धारित किया गया  </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>रेडक्लिफ रेखा (Radcliffe Line) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9> पाकिस्तान और भारत  </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col> भारत-पाकिस्तान सीमा आयोग के अध्यक्ष सर सायरिल रेडक्लिक द्वारा सन 1947 में निर्धारित की गयी   </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>17 वीं सामानांतर रेखा ( 17th Parallel) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9> द. वियतनाम तथा उत्तरी वियतनाम  </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col> यह देश को दो भागो में बांटती थी वियतनाम के एकीकरण के पहले </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>49 वीं सामानांतर रेखा ( 49th Parallel) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9> अमेरिका तथा कनाडा   </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col> यह रेखा कनाडा और अमेरिका को दो भागो में बिभाजित करती है  </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>हिंडनबर्ग रेखा (Hindenburg Line) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9>पोलेंड तथा जर्मनी    </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>जर्मनी की सेना प्रथम विश्व युद्ध में यही से लौटकर वापस चली गयी थी  </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>ओडरनास रेखा (order-neisse Line) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9>पोलेंड तथा जर्मनी    </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>इस रेखा को व्दितीय विश्व युद्ध के बाद निर्धारित किया गया था</ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>24 वीं सामानांतर रेखा (24th Parallel) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9> भारत और पाकिस्तान </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>पाकिस्तान के अनुसार यह रेखा कच्छ  क्षेत्र को सही निर्धारित करती है भारत लेकिन इस रेखा को स्वीकार नहीं करता है </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>38 वीं सामानांतर रेखा (38th Parallel) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9> उत्तर कोरिया तथा दक्षिण कोरिया </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col> यह रेखा कोरिया को दो भागो में बांटती है </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>मेगिनाट रेखा (Meginot Line) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9>जर्मनी तथा फ़्रांस</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col>फ़्रांस ने यह रेखा जर्मनी के आक्रमण से बचने के लिए बनाई थी </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>रेखा का नाम </ion-col>
      <ion-col col-9>सीजफ्राईड रेखा (Seigfrid Line) </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>दो देशो के मध्य </ion-col>
      <ion-col col-9>जर्मनी तथा फ़्रांस</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col> यह रेखा जर्मनी ने बनाई थी </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
