<ion-header>
  <ion-navbar>
    <ion-title>भारत के दर्शनीय एवं ऐतिहासिक स्थल </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6>अमरनाथ गुफा</ion-col>
      <ion-col>कश्मीर</ion-col>
    </ion-row>
    <!-- <ion-row class="bold-first">
      <ion-col></ion-col>
    </ion-row> -->
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> सूर्य मंदिर ( ब्लैक पगोडा ) </ion-col>
      <ion-col> कोणार्क </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> मालाबार हिल्स </ion-col>
      <ion-col> मुंबई  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> अजन्ता की गुफाये  </ion-col>
      <ion-col> औरंगाबाद  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> चिल्का झील  </ion-col>
      <ion-col> ओडिसा  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> वृन्दावन गार्डन  </ion-col>
      <ion-col> मैसूर  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> दिलवाड़ा मंदिर  </ion-col>
      <ion-col> माउन्ट आबू  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> वृहदेश्वर मंदिर  </ion-col>
      <ion-col>  तंजोर  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col> </ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6>साँची स्तूप </ion-col>
      <ion-col>  भोपाल   </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> आमेर दुर्ग  </ion-col>
      <ion-col>  जयपुर  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> इमामबाड़ा  </ion-col>
      <ion-col> लखनऊ  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> मिनाक्षी मंदिर  </ion-col>
      <ion-col> मदुरै  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> निशात बाग  </ion-col>
      <ion-col>  श्रीनगर  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> जोग प्रपात  </ion-col>
      <ion-col> मैसूर  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> अकबर का मकबरा  </ion-col>
      <ion-col>  सिकंदरा आगरा  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> बुलंद दरवाजा  </ion-col>
      <ion-col>  फतेहपुर सीकरी  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6>  शांति निकेतन </ion-col>
      <ion-col>  कोलकाता  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> रणथम्भोर किला  </ion-col>
      <ion-col> सवाई माधोपुर  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> विश्वनाथ मंदिर  </ion-col>
      <ion-col> वाराणसी  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> इंडिया गेट  </ion-col>
      <ion-col>  दिल्ली  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> ताजमहल  </ion-col>
      <ion-col> आगरा  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> एलिफेंटा की गुफाये   </ion-col>
      <ion-col> मुंबई  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> कुतुबमीनार  </ion-col>
      <ion-col> दिल्ली  </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6> महाकाल का मंदिर  </ion-col>
      <ion-col> उज्जैन  </ion-col>
    </ion-row>
  </ion-card>
  <!-- <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-6>  </ion-col>
      <ion-col>  </ion-col>
    </ion-row>
  </ion-card> -->
 
</ion-content>
