page-historic-places {

    ion-content{

        background: #f5f5f5!important;

        ion-card{

            

            margin-top: 15px;
            width: calc(100% - 30px);
            box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px!important;
           

            .heading{

                ion-col{
    
                    background: #60d8f5!important;
                    color: #fff!important;
                    font-weight: bold!important;
                  
    
                }
    
               
            }


            .heading2{

                ion-col{
    
                    background: #96e86e!important;
                    color: #fff!important;
                    font-weight: bold!important;
                  
    
                }
    
               
            }

            .bold-first{

                border-bottom: 1px solid #ccc;

                ion-col:first-child{

                    font-weight: bold;
                    border-right: 1px solid #ccc;
                }
            }
        }
    }

}
