page-first-in-india {

    ion-content{

        background: #f5f5f5!important;

        ion-card{

            margin-top: 15px;
            width: calc(100% - 30px);
            box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px!important;
            padding-top: 10px;
            padding-bottom: 10px;

            ul{

                margin: 0px 10px;
                padding: 0px;
                list-style: none;

                li {

                    border-bottom: 1px solid #ccc;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }
        }

        .button{


                display: block;
                margin:15px 0px 0 15px;
                font-size: 18px;
                text-align: center;
                color: #fff;
                width: calc(100% - 30px);
                box-shadow: none;
                font-weight: 300;
                border-radius: 3px;
                height: auto;
                font-family: 'Hind';


                span{

                    padding: 15px 0px;
                    text-transform: capitalize;

                }
                

        }

        .bg1{ background: #6e8ee8; }
        .bg2{ background: #e8c46e; }
        .bg3{ background: #96e86e; }
        .bg4{ background: #e86edb; }
        .bg5{ background: #456631; }
        .bg6{ background: #456631; }
        .bg7{ background: #6e8ee8; }
    }

}
