
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>भारत में सर्वप्रथम</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ul>
      <li>Ques-1 भारत का पहला राष्ट्रपति कौन था
        <br>Ans-1 डॉ राजेंद्र प्रसाद भारत के पहले राष्ट्रपति थे
      </li>
      <li>
        Ques-2 भारत का पहला प्रधानमंत्री कौन था<br>
        Ans-2 पंडित जवाहर लाल नेहरू भारत का पहला प्रधानमंत्री था
      </li>
      <li>
        Ques-3 पहला उपराष्ट्रपति कौन था भारत का <br>
        Ans-3 सर्व पल्ली डॉ राधाकृष्ण भारत का पहला उपराष्ट्रपति था
      </li>
      <li>
        Ques-4 पहला उपप्रधानमंत्री कौन था भारत का <br>
        Ans-4 सरदार बल्लभ भाई पटेल पहला उपप्रधानमत्री था भारत का
      </li>
      <li>
        Ques-5 पहला भारतीय गवर्नर जनरल कौन था<br>
        Ans-5 राज गोपालचारी भारत का पहला गवर्नर जनरल था
      </li>
      <li>
        Ques-6 पहला कार्यकारी प्रधानमत्री कौन था भारत का <br>
        Ans-6 गुलजारी लाल लालनन्दा पहले कार्यकारी प्रधानमत्री था भारत का
      </li>
      <li>
        Ques-7 पहली महिला प्रधानमंत्री कौन थी भारत की<br>
        Ans-7 इंदिरा गांधी पहली महिला प्रधानमंत्री थी भारत की
      </li>
      <li>
        Ques-7 पहली महिला मुख्यमत्री कौन थी भारत की<br>
        Ans-7 सुचेता कृपलानी को भारत की पहली महिला मुख्यमत्री के रूप में उत्तर प्रदेश से चुना गया था
      </li>
      <li>
        Ques-8 पहली महिला राज्यपाल कौन थी भारत की <br>
        Ans-8 सरोजनी नायडू पहली महिला राज्यपाल थी भारत की
      </li>
      <li>
        Ques-9 पहली महिला विदेशमन्त्री कौन थी भारत की <br>
        Ans-9 सुषमा स्वराज पहली महिला विदेश मंत्री थी भारत की
      </li>
      <li>
        Ques -10 पहली महिला राष्ट्रपति कौन थी भारत की <br>
        Ans-10 प्रतिभा पाटिल पहली महिला राष्ट्रपति थी भारत की
      </li>
      <li>
        Ques -11 पहली महिला लोकसभा अध्धयछ कौन थी भारत की <br>
        Ans-11 मीरा कुमार पहली महिला लोकसभा अध्यछ थी भारत की
      </li>
      <li>
        Ques -12 पहली महिला आईपीएस अफसर कौन थी भारत की <br>
        Ans-12 किरण बेदी पहली महिला आईपीएस अफसर थी भारत की
      </li>
      <li>
        Ques -13 एवेरेस्ट पर चढ़ने वाली पहली महिला कौन थी भारत की <br>
        Ans-13 बछेंद्री पाल एवेरेस्ट पर चढ़ने वाली पहली महिला थी भारत की
      </li>
      <li>
        Ques -14 एवरेस्ट पर दो बार चढ़ने वाली पहली महिला कौन थी भारत की <br>
        Ans-14 संतोष यादव एवरेस्ट पर दो बार चढ़ने वाली पहली महिला थी भारत की 
      </li>
      <li>
        Ques -15 पहली महिला सर्जन कौन थी भारत की <br>
        Ans-15 डॉक्टर हेमा मुखर्जी पहली महिला सर्जन थी भारत की 
      </li>
      <li>
        Ques -16 इंग्लिश चैनल तैरकर पार करने वाली पहली महिला कौन थी भारत की<br>
        Ans-16 आरती शाह इंग्लिश चैनल को तैरकर पार करने वाली पहली महिला थी भारत की
      </li>
      <li>
        Ques -17 पहली भारतीय कांग्रेस की महिला सभापति कौन थी भारत की<br>
        Ans-17 एनी बेसेंट पहली भारतीय कोंग्रेस की सभापति थी
      </li>
      <li>
        Ques -18 अंटार्टिका पहुंचने वाली पहली महिला कौन थी भारत की <br>
        Ans-18 मेहमुराण अन्टार्टिका पहुंचने वाली पहली महिला थी भारत की 
      </li>
      <li>
        Ques -19 पहली महिला मिस यूनिवर्स कौन थी भारत की <br>
        Ans-19 सुष्मिता सेन पहली महिला मिस यूनिवर्स थी भारत की 
      </li>
      <li>
        Ques -20 पहली विश्वसुन्दरी कौन थी भारत की <br>
        Ans - 20 कुमारी रीता फरिया पहली विश्वसुन्दरी थी भारत की
      </li>
      <li>
        Ques -21 पहली महिला अंतरिक्ष यात्री कौन थी भारत की <br>
        Ans - 21 कल्पना चावला पहली अंतरिक्ष यात्री थी भारत की
      </li>
      <li>
        Ques -22 पहली महिला शासिका कौन थी भारत की <br>
        Ans - 22 रजिया सुल्तान पहली महिला शासिका थी भारत की
      </li>
      <li>
        Ques -23 भारत का पहला क्रांतिकारी कौन था जिसे फांसी दी गयी थी <br>
        Ans - 23 खुदीराम बोस पहले क्रन्तिकारी था जिसे फांसी दी गयी थी
      </li>
      <li>
        Ques -24 पहले सेना प्रमुख कौन थे भारत के <br>
        Ans - 24 जनरल करियप्पा पहले सेना प्रमुख थे भारत के
      </li>
      <li>
        Ques -25 पहले मुश्लिम राष्ट्रपति कौन थे भारत के <br>
        Ans - 25 पहले मुश्लिम राष्ट्रपति ए पी  अब्दुल  कलाम  थे भारत के
      </li>
      <li>
        Ques -26 पहले नोबेल पुरुस्कार विजेता कौन थे भारत के <br>
        Ans - 26 रविन्द्र नाथ टैगोर पहले नोबेल पुरुस्कार विजेता थे भारत के
      </li>
      <li>
        Ques -27 पहले मुख्य न्यायाधीश कौन थे भारत के <br>
        Ans - 27 हीरालाल जे कानिया पहले मुख्य न्यायाधीश थे भारत के
      </li>
      <li>
        Ques -28 पहला विश्वविद्यालय कौनसा था भारत का <br>
        Ans - 28 नालन्दा विश्वविधालय पहला विश्वविद्यालय था भारत का
      </li>
    </ul>
    
  </ion-card>
</ion-content>
