
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>महत्वपूर्ण जानकारियां भारत की</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ul>
      <li>Ques -1 भारत का राष्टीय ध्वज कौनसा है? <br>
        Ans - 1 तिरंगा भारत राष्ट्रीय ध्वज है?
      </li>
      <li>Ques -2 भारत की राष्ट्रीय मिठाई कौनसी है?<br>
      Ans - 2 जलेबी भारत की राष्ट्रीय मिठाई है?</li>
      <li>Ques 3 भारत का राष्ट्रीय वाकया कौनसा है? <br>
      Ans - 3 सत्यमेव जयते भारत का राष्ट्रीय वाकया है?
      </li>
      <li>Ques 4 भारत का राष्ट्रीय ध्वज गीत कौनसा है?<br>
        Ans - 4 हिन्द देश का प्यारा झंडा भारत का राष्ट्रीय ध्वज गीत है
        </li>
        <li>Ques 5 भारत की राष्ट्रीय मुद्रा कौनसी है?<br>
          Ans - 5 रुपया भारत की राष्ट्रीय मुद्रा है?
          </li>
          <li>Ques 6 भारत की राष्ट्रीय फूल कौनसा है?<br>
            Ans - 6 कमल भारत की राष्ट्रीय फूल है
            </li>
            <li>Ques 7 भारत की राष्ट्रीय गीत कौनसा है? <br>
              Ans - 7 वन्देमातरम भारत की राष्ट्रीय गीत है ?
              </li>
              <li>Ques 8 भारत की राष्ट्रीय चिन्ह कौनसा है?<br>
                Ans - 8 अशोक स्तंभ भारत की राष्ट्रीय चिन्ह है?
                </li>
                <li>Ques 9 भारत की राष्ट्रीयता कौनसी है?<br>
                  Ans - 9 भारतीयता
                  </li>
                  <li>Ques 10 भारत का राष्ट्रीय नारा कौनसा है?<br>
                    Ans - 10 श्रमेव जयते भारत का राष्ट्रीय नारा है?
                    </li>
                    <li>Ques 11 भारत की राष्ट्र भाषा कौनसी है?<br>
                      Ans - 11 हिंदी भारत की राष्ट्र भाषा है?
                      </li>
                      <li>Ques 12 भारत का राष्ट्रीय पुरुष्कार कौनसा है? <br>
                        Ans - 12 भारत रत्न भारत का राष्ट्रीय पुरुष्कार है?
                        </li>
                        <li>Ques - 13 राष्ट्रीय योजना कौनसी है भारत की<br>
                          Ans - 13 पंचवर्षीय योजना राष्ट्रीय योजना है भारत की?
                          </li>
                          <li>Ques - 14 राष्ट्रीय खेल कौनसा है भारत का?<br>
                            Ans - 14 हॉकी राष्ट्रीय खेल है भारत का?
                            </li>
                            <li>
                              Ques - 15 राष्ट्रीय फल कौनसा है भारत का?<br>
                              Ans - 15 आम राष्ट्रीय फल है भारत का?
                            </li>
                            <li>
                              Ques - 16 राष्ट्रीय पशु कौनसा है भारत का?<br>
                              Ans - 16 बाघ राष्ट्रीय पशु है भारत का?
                            </li>
                            <li>
                              Ques - 17 राष्ट्रीय पक्षी कौनसा है भारत का?<br>
                              Ans - 17 मोर राष्ट्रीय पक्षी है भारत का?
                            </li>
                            <li>
                              Ques - 18 राष्ट्रीय नदी कौनसी है भारत की?<br>
                              Ans - 18 गंगा राष्ट्रीय नदी है भारत की?
                            </li>
                            <li>
                              Ques - 19 राष्ट्रीय वृक्ष कौनसा है भारत का?<br>
                              Ans - 19 बरगद राष्ट्रीय वृक्ष है भारत का?
                            </li>
                            <li>
                              Ques - 20 राष्ट्रीय गान कौनसा है भारत का?<br>
                              Ans - 20 जन गण मन राष्ट्रीय गान है भारत का ?
                            </li>
                           
    </ul>
  </ion-card>

 
</ion-content>
