
ion-header{

    background: #021342!important;

    .toolbar-background{

        background: transparent;
        
    }

    

    .toolbar-title{

        color: #fff;

    }

    .background-image {

        background: transparent;

    }

    .bar-button-default{

        color: #fff;

    }

}



.left-nav{

    color: #021342 !important;

    img{

        width: 25px;
        
    }

    .item{

        border-bottom: 1px solid #dedede;
        color: #021342 !important;
     

        span{

            color: #021342 !important;
        }
    }

    .item-inner {
        border-bottom: 0px solid #dedede!important;
    }
}
@font-face{

    font-family: 'Hind';
    src: url('../assets/font/5aU69_a8oxmIdGh4BDGwgDJm_A.woff2') format('woff2')
}