page-india {

    ion-content{

        background: #f5f5f5!important;

        .button{


                display: block;
                margin:15px 0px 0 15px;
                font-size: 18px;
                text-align: center;
                color: #fff;
                width: calc(100% - 30px);
                box-shadow: none;
                font-weight: 300;
                border-radius: 3px;
                height: auto;
                font-family: 'Hind';
                box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
                // font-weight: bold;


                span{

                    padding: 15px 0px;
                    text-transform: capitalize;

                }
                

        }

        .bg1{ background: #233977;}
        .bg2{ background: #e8c46e;}
        .bg3{ background: #4eb73b;}
        .bg4{ background: #e86edb;}
        .bg5{ background: #456631;}
        .bg6{ background: #49b5ab;}
        .bg7{ background:#95b150;}
        .bg8{ background:#5096b1;}
        .bg9{ background:#b150aa;}
        .bg10{ background:#318c7f;}
        .bg11{ background:#1d3575;}
        .bg12{ background:#582b12;}
        .bg13{ background:#521e73;}
        
        
    }

    button:last-child{

        margin-bottom: 10px ;

    }

}
