
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>India</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <button ion-button class="bg1" (click)="GetIndiaFirst()">
    भारत में सर्वप्रथम
  </button>
  <button ion-button class="bg2" (click)="GetIndiaState()">
    भारत के राज्य और राजधानी
  </button>
  <button ion-button class="bg3" (click)="GetImportanceKnowledgeIndia()">
    महत्वपूर्ण जानकारियां भारत की
  </button>
  <button ion-button class="bg4" (click)="GetSports()">
    खेलकूंद
  </button>
  <button ion-button class="bg5" (click)="GetBharatratn()">
    भारत रत्न सम्मान पाने वाली हस्तियां
  </button>
  <button ion-button class="bg6" (click)="GetIpl()">
    आईपीएल विजेता
  </button>
  <button ion-button class="bg7" (click)="GetIndianGeography()">
    भारतीय भूगोल
  </button>
  <button ion-button class="bg8" (click)="GetRiver()">
    भारत में प्रथम  महिलाएँ
  </button>
  <button ion-button class="bg9" (click)="GetNovel()">
    भारत से नोबेल पुरस्कार विजेता
  </button>
      <button ion-button class="bg10" (click)="GetDiscovery()">
    आविष्कार तथा महत्वपूर्ण प्रश्न 
  </button>
  <button ion-button class="bg11" (click)="GetImportantDay()">
    महत्वपूर्ण दिवस 
  </button>
  <button ion-button class="bg12" (click)="GetInternationalBorder()">
    अंतरराष्ट्रीय सीमाएं
  </button>
  <button ion-button class="bg13" (click)="GetIndiaHistoricPlaces()">
    भारत के दर्शनीय एवं ऐतिहासिक स्थल 
  </button>
</ion-content>
