
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>खेलकूंद</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ul>
      <li>
        Ques -1 एशिया खेल सबसे पहले कब प्रारंभ हुए थे?<br>
        Ans - 1 4 अप्रैल 1951 को एशिया खेल सबसे पहले प्रारंभ हुए थे?
      </li>
      <li>
        Ques -2 पहले क्रिकेट कप्तान कौन थे भारत के?<br>
        Ans - 2 सी के नायडू पहले क्रिकेट कप्तान थे भारत के
      </li>

      <li>
        Ques -3 सुशील कुमार ने लंदन ओलिंपिक 2012 में कौनसा पदक जीता था? <br>
        Ans - 3 रजत पदक सुशिल कुमार ने लंदन ओलिंपिक 2012 में जीता था
      </li>
      <li>
        Ques -4 पहली महिला कौन थी भारत की जिसने विम्बलडन ख़िताब जीता था? <br>
        Ans - 4 सानिया मिर्जा पहली महिला थी भारत की जिसने विम्बलडन ख़िताब जीता था
      </li>
      <li>
        Ques - 5 क्रिकेट को पहले किस नाम से जाना जाता था? <br>
        Ans - 5 क्लब बल के नाम से पहले क्रिकेट जाना जाता था
      </li>
      <li>
        Ques -6 पदमश्री पुरुष्कार सबसे पहले किस खिलाडी को दिया गया था?<br>
        Ans - 6 मिल्खा सिंह को 1959 में पदमश्री पुरुष्कार सबसे पहले दिया गया था
      </li>
      <li>
        Ques - 7 फुटबॉल की सबसे पुरानी स्पर्धा कौनसी है भारत की?<br>
        Ans - 7 डूरंड कप भारत की सेबल पुरानी फुटबाल स्पर्धा है
      </li>
      <li>
        Ques - 8 राजीव गांधी खेल रत्न पुरुस्कार किस खिलाडी को 2012 में दिया गया था <br>
        Ans - 8 गोयेश्वर दत्त को राजीव गांधी खेल रत्न पुरुस्कार 2012 में दिया गया था
      </li>
      <li>
        Ques - 9 क्रिकेट में किस खिलाडी को लिटिल मास्टर के नाम से जाना जाता है? <br>
        Ans - 9 सुनील मनोहर गावस्कर को क्रिकेट में लिटिल मास्टर के नाम से जाना जाता है
      </li>
      <li>
        Ques - 10 पहली महिला क्रिकेट अंपायर कौन थी भारत की?<br>
        Ans - 10 अंजली राजगोपाल पहली महिला क्रिकेट अंपायर थी भारत की
      </li>
      <li>
        Ques - 11 पहला अर्जुन पुरुष्कार कब दिया गया था? <br>
        Ans - 11 पहली बार 1961 को अर्जुन पुरुस्कार दिया गया था?
      </li>
      <li>
        Ques -12 पहली बार अर्जुन पुरुष्कार किसे दिया गया था? <br>
        Ans - 12 गुरबचन सिंह रंधावा को पहली बार अर्जुन पुरुस्कार दिया गया था
      </li>
      <li>
        Ques - 13 क्रॉस लाइन खो-खो खेल में कितनी होती है? <br>
        Ans - 13 8 क्रॉस लाइन होती है खो-खो खेल में
      </li>
      <li>
        Ques -14 राष्ट्रीय खेल कौनसा है भारत का? <br>
        Ans - 14 हॉकी राष्ट्रीय खेल है भारत का
      </li>
      <li>
        Ques - 15 किस खेल की प्रसिद्द खिलाडी है मिताली राज?<br>
        Ans - 15 क्रिकेट की प्रसिद्द खिलाडी है मिताली राज
      </li>
      <li>
        Ques - 16 पहला दोहरा शतक लगाने वाला खिलाडी कौन है क्रिकेट में? <br>
        Ans - 16 सचिन रमेश तेंदुलकर पहला दोहरा शतक लगाने वाला खिलाडी है क्रिकेट का
      </li>
      <li>
        Ques - 17 पोलो खेल को भारत में सबसे पहले किस राज्य में खेला गया था? <br>
        Ans - 17
      </li>
      <li>
        Ques - 18 साइक्लिंग के खेल को किस नाम से जाना जाता है? <br>
        Ans - 18 वेलोड्रम कहा जाता है साइक्लिंग के खेल को
      </li>
      <li>
        Ques - 19 पहला स्वर्ण पदक भारत ने हॉकी में कब जीता था? <br>
        Ans - 19 1928 में पहला स्वर्ण पदक भारत ने हॉकी में जीता था
      </li>
      <li>
        Ques - 20 पिच की लम्बाई कितनी होती है क्रिकेट में? <br>
        Ans - 20 20.12 मीटर पिच की लम्बाई होती है क्रिकेट में
      </li>
      <!-- <li>
        Ques - 16 <br>
        Ans - 16
      </li>
      <li>
        Ques - 16 <br>
        Ans - 16
      </li>
      <li>
        Ques - 16 <br>
        Ans - 16
      </li>
      <li>
        Ques - 16 <br>
        Ans - 16
      </li>
      <li>
        Ques - 16 <br>
        Ans - 16
      </li>
      <li>
        Ques - 16 <br>
        Ans - 16
      </li>
      <li>
        Ques - 16 <br>
        Ans - 16
      </li>
      <li>
        Ques - 16 <br>
        Ans - 16
      </li> -->
                           
    </ul>
  </ion-card>

 
</ion-content>
