<ion-header>
  <ion-navbar>
    <ion-title>महत्वपूर्ण दिवस</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-card>
<h1>जनवरी</h1>
<ul>
    <li>
        <strong> 1 </strong> --  वैश्र्विक परिवार दिवस 
    </li>
    <li>
        <strong> 4 </strong> -- विश्व ब्रेल दिवस 
    </li>
    <li>
            <strong> 9 </strong> -- प्रवासी भारतीय दिवस (एन . आर . आई)
        </li>
        <li>
                <strong> 12 </strong> -- राष्ट्रीय युवा दिवस ( भारत ) 
            </li>
            <li>
                    <strong> 15 </strong> -- सेना दिवस (भारत )
                </li>
                <li>
                        <strong> 24 </strong> -- राष्ट्रिय बालिका दिवस (भारत ) 
                    </li>
                    <li>
                            <strong> 25 </strong> -- राष्ट्रीय मतदाता दिवस (भारत ), राष्ट्रीय पर्यटन दिवस (भारत )
                        </li>
                        <li>
                                <strong> 26 </strong> -- गणतंत्र दिवस (भारत ) 
                            </li>
                          
                                <li>
                                        <strong> 27 </strong> -- प्रलय पीड़ितों की स्मर्ती में स्मरणोत्सव का अंतराष्ट्रीय दिवस  
                                    </li>
                                    <li>
                                            <strong> 28 </strong> -- डेटा संरक्षण ( गोपनियता ) दिवस 
                                        </li>
                                        <li>
                                                <strong> 30 </strong> -- शहीद दिवस ,विश्व कुष्ठ उन्मूलन दिवस
                                            </li>
                                           
</ul>
</ion-card>
  <ion-card>
    <h1>फरवरी </h1>
    <ul>
      <li>
       <strong> 2 </strong> -- विश्व झील दिवस 
      </li>
      <li>
          <strong> 4 </strong> -- विश्व कैंसर दिवस
      </li>
      <li>
          <strong> 6 </strong> --  मादा जननांग दिवस विकर्ति के खिलाफ अंतर्राष्ट्रीय दिवस
      </li>
      <li>
          <strong> 11 </strong> -- - विश्व बीमार दिवस
      </li>
      <li>
          <strong> 12 </strong> -- डार्विन दिवस
      </li>
      <li>
          <strong> 13 </strong> -- विश्व रेडियो दिवस
      </li>
      <li>
          <strong> 14 </strong> -- वेलेंटाइन डे  
      </li>
      <li>
          <strong> 20 </strong> -- विश्व  सामाजिक न्याय दिवस 
      </li>
      <li>
          <strong> 21 </strong> -- अंतराष्ट्रीय मातृ भाषा दिवस
      </li>
      <li>
          <strong> 22 </strong> -- विश्व स्काउट दिवस 
      </li>
      <li>
          <strong> 23 </strong> -- विश्व शांति और समझ दिवस 
      </li>
      <li>
          <strong> 24 </strong> -- केन्द्रीय उत्पाद शुल्क दिवस
      </li>
      <li>
          माह का दुसरा रविवार – विश्व विवाह दिवस  
      </li>
      <li>
          माह का अंतिम दिन ( 28 या 29 )- दुर्लव बीमारी दिवस 
      </li>
    </ul>
  </ion-card>
  <ion-card>
    <h1>मार्च  </h1>
    <ul>
      <li>
        <strong> 3 </strong> -- विश्व वन्यजीव दिवस, राष्ट्रीय रक्षा दिवस 
      </li>
      <li>
          <strong> 4 </strong> -- राष्ट्रीय सुरक्षा दिवस, ( औधोगिक संस्थानों की सुरक्षा ), यौन शोषण के खिलाफ विश्व लड़ाई दिवस  
      </li>
      <li>
          <strong> 8 </strong> --  अंतर्राष्ट्रीय महिला दिवस
      </li>
      <li>
          <strong> 12 </strong> -- केन्द्रीय औधोगिक सुरक्षा बल स्थापना दिवस  
      </li>
      <li>
          <strong> 15 </strong> -- विश्व उपभोक्ता अधिकार दिवस 
      </li>
      <li>
          <strong> 18 </strong> -- आयुध कारखाना दिवस   
      </li>
      <li>
          <strong> 20 </strong> -- अंतर्राष्ट्रीय प्रसन्नता दिवस  
      </li>
      <li>
          <strong> 21 </strong> --  विश्व वानिकी दिवस, विश्व कात्य दिवस
      </li>
      <li>
          <strong> 22 </strong> -- विश्व जल दिवस  
      </li>
      <li>
          <strong> 23 </strong> -- विश्व मौसम दिवस  
      </li>
      <li>
          <strong> 24 </strong> -- विश्व क्षय रोग दिवस  
      </li>
      <li>
          <strong> 27 </strong> -- विश्व रंगमंच दिवस  
      </li>
      <li>
          दुसरा सोमवार – राष्ट्रमंडल दिवस 
      </li>
      <li>
           दुसरा शुक्रवार – विश्व नींद दिवस  
      </li>
      <li>
           दुसरा गुरुवार – विश्व गुर्दा दिवस 
      </li>
    </ul>
  </ion-card>
  <ion-card>
      <h1>अप्रैल</h1>
      <ul>
        <li>
          <strong> 2 </strong> -- विश्व आत्मकेंद्रीय दिवस 
        </li>
        <li>
            <strong> 5 </strong> -- राष्ट्रीय समुद्री दिवस
        </li>
        <li>
            <strong> 7 </strong> -- विश्व स्वास्थाय दिवस
        </li>
        <li>
            <strong> 10 </strong> -- विश्व होम्योपैथी दिवस 
        </li>
        <li>
            <strong> 12 </strong> -- मानव अन्तरिक्ष उड़ान अंतर्राष्ट्रीय दिवस
        </li>
        <li>
            <strong> 14 </strong> -- अम्बेडकर जयंती 
        </li>
        <li>
            <strong> 17 </strong> -- विश्व हीमोफीलिया दिवस 
        </li>
        <li>
            <strong> 18 </strong> -- विश्व विरासत दिवस 
        </li>
        <li>
            <strong> 21 </strong> -- सिविल सेवा दिवस
        </li>
        <li>
            <strong> 22 </strong> -- प्रथ्वी सेवा दिवस 
        </li>
        <li>
            <strong> 23 </strong> -- संयुक्त राष्ट्र अंग्रेजी भाषा दिवस, विश्व पुस्तक और कौपीराइट दिवस
        </li>
        <li>
            <strong> 24 </strong> -- राष्ट्रीय पिचायति राज दिवस, प्रयोगशाला पशुऔं के लिए विश्व दिवस 
        </li>
        <li>
            <strong> 25 </strong> -- विश्व मलेरिया दिवस
        </li>
        <li>
            <strong> 26 </strong> -- विश्व बौद्धिय संपदा दिवस 
        </li>
        <li>
            <strong> 28 </strong> -- अंतर्राष्ट्रीय श्रमिक स्मृति दिवस
        </li>
        <li>
            <strong> 29 </strong> -- रसायनिक युद्ध के सभी पीड़ितों के लिए स्मरण दिवस, अंतर्राष्ट्रीय न्र्त्य दिवस
        </li>
        <li>
            <strong> 30 </strong> -- अंतराष्ट्रीय जैज दिवस 
        </li>
        <li>
            अंतराष्ट्रीय जैज दिवस
        </li>
      </ul>
    </ion-card>
    <ion-card>
        <h1>मई</h1>
        <ul>
          <li>
            <strong> 1 </strong> -- अंतर्राष्ट्रीय श्रम दिवस 
          </li>
          <li>
              <strong> 3 </strong> -- विश्व प्रेस स्वतंत्रता दिवस 
          </li>
          <li>
              <strong> 8 </strong> -- विश्व रेड क्रास और रेड क्रिसेंट डे
          </li>
          <li>
              <strong> 11 </strong> -- राष्ट्रीय प्रौद्दोगिकी दिवस 
          </li>
          <li>
              <strong> 12 </strong> -- अंतर्राष्ट्रीय नर्स दिवस
          </li>
          <li>
              <strong> 15 </strong> -- अंतराष्ट्रीय परिवार दिवस 
          </li>
          <li>
              <strong> 17 </strong> -- विश्व दूरसंचार दिवस, विश्व उच्चा रक्तचाप दिवस
          </li>
          <li>
              <strong> 18 </strong> -- अंतराष्ट्रीय स्ंग्रहालय दिवस 
          </li>
          <li>
              <strong> 21 </strong> -- आतंकबाद विरोध दिवस 
          </li>
          <li>
              <strong> 22 </strong> -- विश्व जैस विविधता दिवस 
          </li>
          <li>
              <strong> 25 </strong> -- विश्व थायराइड दिवस 
          </li>
          <li>
              <strong> 28 </strong> -- महिला स्वास्थ्य कार्यवाही का अंतराष्ट्रीय दिवस 
          </li>
          <li>
              <strong> 29 </strong> -- संयुक्त राष्ट्र शांति सैनिकों का अंतर्राष्ट्रीय दिवस 
          </li>
          <li>
              <strong> 31 </strong> -- तम्बाकू निषेध दिवस
          </li>
          <li>
              माह का प्रथम रविवार – विश्व हास्य दिवस 
          </li>
          <li>
              माह का प्रथम मंगलवार – विश्व अस्थमा दिवस 
          </li>
          <li>
              माह का द्वितीय सप्ताह का अंतिम दिन – विश्व प्रवासी पक्षी दिवस 
          </li>
        </ul>
    </ion-card>
    <ion-card>
        <h1>जून</h1>
        <ul>
          <li>
            <strong> 1 </strong> -- माता-पिता का वैश्र्विक दिवस, विश्व दुग्ध दिवस 
          </li>
          <li>
            <strong> 5 </strong> -- विश्व पर्यावरण दिवस
          </li>
          <li>
              <strong> 8 </strong> -- विश्व ब्रेन ट्यूमर दिवस 
          </li>
          <li>
              <strong> 12 </strong> -- बाल श्रम के खिलाफ विश्व दिवस
          </li>
          <li>
              <strong> 14 </strong> -- विश्व रक्तदाता दिवस
          </li>
          <li>
              <strong> 17 </strong> -- बंजर और सूखे से निपतने के लिय विश्व दिवस
          </li>
          <li>
              <strong> 18 </strong> -- अंतराष्ट्रीय पिकनिक दिवस 
          </li>
          <li>
              <strong> 20 </strong> -- विश्व शरणार्थी दिवस
          </li>
          <li>
              <strong> 21 </strong> -- विश्व योग दिवस, संगीत, हाइर्डोग्राफी दिवस 
          </li>
          <li>
              <strong> 23 </strong> -- अंतराष्ट्रीय ओल्मपिक, संयुक्त राष्ट्र का सार्वजनिक सेवा, अंतराष्ट्रीय विधवा दिवस
          </li>
          <li>
              <strong> 26 </strong> -- नशीली दवाओं के दुरुपयोग और अवौध तस्करी के खिलाफ अन्तराष्ट्रिय दिवस 
          </li>
          
        </ul>
    </ion-card>
    <ion-card>
        <h1>जुलाई </h1>
        <ul>
          <li>
            <strong> 1 </strong> -- राष्ट्रीय डॉक्टर दिवस 
          </li>
          <li>
              <strong> 2 </strong> -- अंतराष्ट्रीय खेल पत्रकार दिवस 
          </li>
          <li>
              <strong> 6 </strong> -- विश्व जुनोसेस दिवस 
          </li>
          <li>
              <strong> 11 </strong> -- विश्व जनसंख्या दिवस 
          </li>
          <li>
              <strong> 12 </strong> -- मलेरिया  
          </li>
          <li>
              <strong> 17 </strong> -- अंतर्राष्ट्रीय न्याय के लिए विश्व दिवस 
          </li>
          <li>
              <strong> 18 </strong> -- नेल्सन मंडेला अंतर्राष्ट्रीय दिवस 
          </li>
          <li>
              <strong> 26 </strong> -- कारगिल विजय दिवस 
          </li>
          <li>
            <strong> 28 </strong> -- विश्व प्रक्रति संरक्षण, विश्व हेपेटाइटिस दिवस
          </li>
          <li>
              <strong> 29 </strong> -- अंतराष्ट्रीय बाद्द दिवस
            </li>
        </ul>
      </ion-card>
      <ion-card>
          <h1>अगस्त </h1>
          <ul>
            <li>
              <strong> 6 </strong> -- हिरोशिमा दिवस
            </li>
            <li>
                <strong> 7 </strong> -- राष्ट्रीय हाथकरघा दिवस 
            </li>
            <li>
                <strong> 9 </strong> -- भारत छोड़ो आंदोलन, विश्व के स्वदेशी लोगों का अंतराष्ट्रीय दिवस
            </li>
            <li>
                <strong> 10 </strong> -- अंतराष्ट्रीय बायोडीजल दिवस 
            </li>
            <li>
                <strong> 12 </strong> -- राष्ट्रीय युवा दिवस
            </li>
            <li>
                <strong> 15 </strong> -- भारत का स्वत्नत्रता दिवस
            </li>
            <li>
                <strong> 19 </strong> -- विश्व मानवीय दिवस 
            </li>
            <li>
                <strong> 20 </strong> -- सदभावना दिवस 
            </li>
            <li>
                <strong> 23 </strong> -- दास व्यापार के स्मरण और इसके उन्मूलन के लिए अंतराष्ट्रीय दिवस
            </li>
            <li>
                <strong> 29 </strong> -- राष्ट्रीय खेल दिवस 
            </li>
          </ul>
      </ion-card>
      <ion-card>
          <h1>सिंतबर</h1>
          <ul>
            <li>
              <strong> 5 </strong> -- शिक्षक दिवस 
            </li>
            <li>
                <strong> 8 </strong> -- विश्व साक्षरता दिवस 
            </li>
            <li>
                <strong> 10 </strong> -- विश्व आत्महत्या रोकथाम दिवस
            </li>
            <li>
                <strong> 14 </strong> -- हिंदी दिवस 
            </li>
            <li>
                <strong> 15 </strong> -- अंतराष्ट्रीय लोकतंत्र, आभियंता दिवस
            </li>
            <li>
                <strong> 16 </strong> -- विश्व ओज़ोन दिवस 
            </li>
            <li>
                <strong> 21 </strong> -- अंतराष्ट्रीय शांति, अल्जाइमार दिवस 
            </li>
            <li>
                <strong> 27 </strong> -- विश्व पर्यटन दिवस
            </li>
            <li>
                <strong> 28 </strong> -- विश्व रेबीज दिवस 
            </li>
            <li>
                माह का दुसरा शनिवार –विश्व प्राथमिक उपचार दिवस
            </li>
            <li>
                माह का अंतिम रविवार – विश्व ह्रदय, विश्व बधिर दिवस
            </li>
            <li>
                1 से 7 – राष्ट्रीय पोषण सप्ताह 
            </li>
          </ul>
      </ion-card>
      <ion-card>
          <h1>अक्टूवर</h1>
          <ul>
            <li>
              <strong> 1 </strong> -- विश्व शाकाहारी, वृध्दजनों के लिए अंतराष्ट्रीय, राष्ट्रीय स्वौच्किक रक्तदान दिवस  
            </li>
            <li>
                <strong> 2 </strong> --  अंतराष्ट्रीय अहिंसा, नेशनल एंटी ड्रग अडिकाशन डे
            </li>
            <li>
                <strong> 4 </strong> -- विश्व पशु दिवस  
            </li>
            <li>
                <strong> 5 </strong> -- विश्व शिक्षक दिवस  
            </li>
            <li>
                <strong> 8 </strong> --  भारतीय वायु सेना दिवस
            </li>
            <li>
                <strong> 10 </strong> -- विश्व मानसिक स्वास्थ्य, राष्ट्रीय डाक दिवस  
            </li>
            <li>
                <strong> 11 </strong> -- अंतराष्ट्रीय बालिका दिवस  
            </li>
            <li>
                <strong> 12 </strong> --  विश्व गठिया दिवस
            </li>
            <li>
                <strong> 13 </strong> -- विश्व आपदा नियंत्रण दिवस  
            </li>
            <li>
                <strong> 14 </strong> -- विश्व मानक दिवस
            </li>
            <li>
                <strong> 15 </strong> --  ग्लोबाल हैंड वाशिंग, ग्रामीण महिला अंतराष्ट्रीय दिवस
            </li>
            <li>
                <strong> 16 </strong> --  विश्व खाध्य दिवस
            </li>
            <li>
                <strong> 17 </strong> -- गरीबी उनमूलन अंतराष्ट्रीय, विश्व ट्रोमा दिवस  
            </li>
            <li>
                <strong> 20 </strong> --  राष्ट्रीय एकता दिवस, विश्व स्नाख्यिकी दिवस
            </li>
            <li>
                <strong> 21 </strong> -- आयोडिन की कमी से विकार निवारण दिवस  
            </li>
            <li>
                <strong> 24 </strong> -- संयुक्त राष्ट्र, विश्व पोलिया, विश्व विकास सूचना दिवस 
            </li>
            <li>
                <strong> 29 </strong> --  विश्व स्ट्रोक दिवस
            </li>
            <li>
                <strong> 30 </strong> --  विश्व बचत दिवस
            </li>
            <li>
                माह का प्रथम सोमवार – विश्व पर्यावास दिवस
            </li>
            <li>
                2 से 8 – वन्यजीव सप्ताह 
            </li>
            <li>
                9 से 15 – राष्ट्रिय डाक सप्ताह
            </li>
            <li>
                माह का दुसरा गुरुवार – विश्व द्रष्टि दिवस
            </li>
          </ul>
      </ion-card>
      <ion-card>
        <h1>नवंबर </h1>
        <ul>
          <li>
            <strong> 1 </strong> -- विश्व शाकाहारी दिवस 
          </li>
          <li>
            <strong> 6 </strong> -- यूध्द और सशस्त्र में पर्यावरण के शोषण की रोकथाम के लिए अन्तराष्ट्रिय दिवस
          </li>
          <li>
            <strong> 8 </strong> -- विश्व रेडियोग्राफी डे  
          </li>
          <li>
            <strong> 9 </strong> -- कानूनी सेवा दिवस
          </li>
          <li>
            <strong> 10 </strong> -- विश्व टिककरण, शांति और विकास के लिए विश्व विज्ञान दिवस 
          </li>
          <li>
            <strong> 11 </strong> -- राष्ट्रीय शिक्षा दिवस
          </li>
          <li>
            <strong> 12 </strong> -- विश्व निमोनिया दिवस
          </li>
          <li>
            <strong> 14 </strong> -- बाल, विश्व मधुमेह दिवस
          </li>
          <li>
            <strong> 16 </strong> -- राष्ट्रीय प्रेम दिवस 
          </li>
          <li>
            <strong> 17 </strong> -- अंतराष्ट्रीय छात्र, विश्व कुसुमयता दिवस
          </li>
          <li>
            <strong> 19 </strong> -- अंतराष्ट्रीय पुरुष दिवस 
          </li>
          <li>
            <strong> 21 </strong> -- विश्व मत्स्य दिवस
          </li>
          <li>
            <strong> 25 </strong> -- महिला के खिलाफ हिंसा के उन्मूलन के लिए अन्तराष्ट्रिय दिवस 
          </li>
          <li>
            <strong> 26 </strong> -- राष्ट्रीय कानून ,संविधान दिवस
          </li>
          <li>
            माह का दुसरा गुरुवार – विश्व गुणवत्ता दिवस
          </li>
          <li>
            माह का तीसरा गुरुवार- विश्व दर्शन दिवस
          </li>
        </ul>
       </ion-card>
       <ion-card>
            <h1>दिसम्बर  </h1>
        <ul>
            <li>
                <strong> 1 </strong> -- विश्व एर्ड्स दिवस 
            </li>
            <li>
                <strong> 2 </strong> -- राष्ट्रीय प्रदूषण नियंत्रण, विश्व कम्प्यूटर साक्षारता, दासता के उन्मूलन के लिए अंतराष्ट्रीय, विश्व प्रदूषण नीवारण दिवस
            </li>
            <li>
                    <strong> 3 </strong> -- विकलांग व्यक्तियों का अंतराष्ट्रीय दिवस 
                </li>
                <li>
                        <strong> 4 </strong> -- नौसेना दिवस
                    </li>
                    <li>
                            <strong> 5 </strong> -- विश्व मृदा दिवस
                        </li>
                        <li>
                                <strong> 7 </strong> -- अंतराष्ट्रीय नागर विमानना दिवस 
                            </li>
                            <li>
                                    <strong> 9 </strong> -- अंतराष्ट्रीय भ्रष्टाचार निरोधक दिवस
                                </li>
                                <li>
                                        <strong> 10 </strong> -- विश्व मानवाधिकार दिवस 
                                    </li>
                                    <li>
                                            <strong> 14 </strong> -- राष्ट्रीय ऊर्जा संरक्षण दिवस
                                        </li>
                                        <li>
                                                <strong> 18 </strong> -- अंतराष्ट्रीय प्रवशी, अल्पसंख्यक अधिकार दिवस 
                                            </li>
                                            <li>
                                                    <strong> 20 </strong> -- अंतराष्ट्रीय मानव एकता दिवस
                                                </li>
                                                <li>
                                                        <strong> 23 </strong> -- किसान दिवस 
                                                    </li>
                                                    <li>
                                                            <strong> 24 </strong> -- राष्ट्रीय उपभोक्ता दिवस
                                                        </li>
                                                        

        </ul>
        </ion-card>
</ion-content>
