page-important-days {

    ion-content{

        background: #f5f5f5!important;

        ion-card{

            margin-top: 15px;
            width: calc(100% - 30px);
            box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px!important;
            padding-top: 0px;
            padding-bottom: 10px;

            h1{

                font-size: 20px!important;
                font-weight: bold;
                color: #fff!important;
                margin: 0px;
                padding: 5px 14px;
                background: #1d3575;

            }

            strong{

                font-size: 18px!important;
                color:#1d3575;
            }

            ul{

                margin: 0px 10px;
                padding: 0px;
                list-style: none;

                li {

                    border-bottom: 1px solid #ccc;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }
        }
    }

}
