<ion-header>
  <ion-navbar>
    <ion-title>भारत से नोबेल पुरस्कार विजेता</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>व्यक्ति</ion-col>
      <ion-col col-9>रवीन्द्रनाथ टैगोर</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>क्षेत्र</ion-col>
      <ion-col col-9>साहित्य</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>वर्ष</ion-col>
      <ion-col col-9>1913</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>योगदान</ion-col>
      <ion-col col-9> साहित्यिक के लिए</ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>व्यक्ति</ion-col>
      <ion-col col-9>सी० वी० रमन</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>क्षेत्र</ion-col>
      <ion-col col-9>भौतिक विज्ञान</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>वर्ष</ion-col>
      <ion-col col-9>1930</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>योगदान</ion-col>
      <ion-col col-9>रमण प्रभाव की खोज तथा प्रकाश के प्रकीर्णन पर उनके कार्य के लिए प्रदान किया गया</ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>व्यक्ति</ion-col>
      <ion-col col-9>हर गोबिंद खुराना *</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>क्षेत्र</ion-col>
      <ion-col col-9>चिकित्सा</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>वर्ष</ion-col>
      <ion-col col-9>1968</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>योगदान</ion-col>
      <ion-col col-9> प्रोटीन संश्लेषण और आनुवंशिक कोड की अपनी व्याख्या में उनके कार्य के लिए प्रदान किया गया</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3></ion-col>
      <ion-col col-9>
        संयुक्त रूप से रॉबर्ट डब्ल्यू हॉल्ली और मार्शल डब्ल्यू निरेनबर्ग के साथ प्रदान किया गया
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>व्यक्ति</ion-col>
      <ion-col col-9>मदर टेरेसा</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>क्षेत्र</ion-col>
      <ion-col col-9>शांति	</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>वर्ष</ion-col>
      <ion-col col-9>1979</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>योगदान</ion-col>
      <ion-col col-9> मानवीय कार्य के लिए प्रदान किया गया</ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>व्यक्ति</ion-col>
      <ion-col col-9>सुब्रह्मण्यम चंद्रशेखर</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>क्षेत्र</ion-col>
      <ion-col col-9>भौतिक विज्ञान	</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>वर्ष</ion-col>
      <ion-col col-9>1983</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>योगदान</ion-col>
      <ion-col col-9> सितारों की संरचना और विकास पर उनके सैद्धांतिक अध्ययन के लिए प्रदान किया गया</ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>व्यक्ति</ion-col>
      <ion-col col-9>अमर्त्य सेन</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>क्षेत्र</ion-col>
      <ion-col col-9>आर्थिक विज्ञान</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>वर्ष</ion-col>
      <ion-col col-9>1998</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>योगदान</ion-col>
      <ion-col col-9> कल्याणकारी अर्थशास्त्र में उनके योगदान के लिए प्रदान किया गया</ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>व्यक्ति</ion-col>
      <ion-col col-9>वेंकटरमन रामकृष्णन **</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>क्षेत्र</ion-col>
      <ion-col col-9>रसायन</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>वर्ष</ion-col>
      <ion-col col-9>2009</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>योगदान</ion-col>
      <ion-col col-9>राइबोसोम की संरचना और कार्यों के अध्ययन के लिए प्रदान किया गया</ion-col>
    </ion-row>
    <ion-row class="bold-first">
        <ion-col col-3></ion-col>
        <ion-col col-9>
            संयुक्त रूप से थॉमस ए स्टिट्ज़ और एडा ई योनाथ के साथ प्रदान किया गया
        </ion-col>
      </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="heading">
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>व्यक्ति</ion-col>
      <ion-col col-9>कैलाश सत्यार्थी#</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>क्षेत्र</ion-col>
      <ion-col col-9>शांति</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>वर्ष</ion-col>
      <ion-col col-9>2014</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3>योगदान</ion-col>
      <ion-col col-9> बच्चों और युवाओं के दमन के खिलाफ और सभी बच्चों के शिक्षा के अधिकार हेतु उनके संघर्ष के लिए प्रदान किया गया</ion-col>
    </ion-row>
    <ion-row class="bold-first">
      <ion-col col-3></ion-col>
      <ion-col col-9> संयुक्त रूप से पाकिस्तान के मलाला यूसुफजई के साथ प्रदान किया गया</ion-col>
    </ion-row>
  </ion-card>
</ion-content>
