
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>भारत रत्न सम्मान पाने वाली हस्तियां</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ul>
      <li>
        1 - सी राजगोपालचारी (वर्ष 1954)
      </li>
      <li>
        2 - सर्वपल्ली राधाकृष्णन (वर्ष 1954)
      </li>
      <li>
        3 - सी वी रमन (वर्ष 1954)
      </li>
      <li>
        4 - भगवान दास (वर्ष 1955)
      </li>
      <li>
        5 - एम विश्वेश्वरय्या ( वर्ष 1955 )
      </li>
      <li>
        6 - जवाहर लाल नेहरू (वर्ष 1955)
      </li>
      <li>
        7 - गोविंद बल्लभ पंत (वर्ष 1957)
      </li>
      <li>
        8 - धोंडो केशव कर्वे (वर्ष 1958)
      </li>
      <li>
        9 - बिधान चंद्र रॉय (वर्ष 1961)
      </li>
      <li>
        10 - पुरुषोत्तम दास टंडन (वर्ष 1961)
      </li>
      <li>
        11 - डा. राजेंद्र प्रसाद (वर्ष 1962)
      </li>
      <li>
        12 - डा. जाकिर हुसैन (वर्ष 1963)
      </li>
      <li>
        13 - पांडुरंग वामन काणे (वर्ष 1963)
      </li>
      <li>
        14 - लाल बहादुर शास्त्री (वर्ष 1966)
      </li>
      <li>
        15 - इंदिरा गाँधी (वर्ष 1971)
      </li>
      <li>
        16 - वी वी गिरी (वर्ष 1975)
      </li>
      <li>
        17 - के कामराज (वर्ष 1976)
      </li>
      <li>
        18 - मदर टेरेसा (वर्ष 1980)
      </li>
      <li>
        19 - विनोबा भावे (वर्ष 1983)
      </li>
      <li>
        20 - खान अब्दुल गफ्फार खान (वर्ष 1987)
      </li>
      <li>
        21 - एम जी रामचंद्रन (वर्ष 1988)
      </li>
      <li>
        22 - बी आर अंबेडकर (वर्ष 1990)
      </li>
      <li>
        23 - नेल्सन मंडेला (वर्ष 1990)
      </li>
      <li>
        24 - राजीव गांधी (वर्ष 1991)
      </li>
      <li>
        25 - वल्लभभाई पटेल (वर्ष 1991)
      </li>
      <li>
        26 - मोरारजी देसाई (वर्ष 1991)
      </li>
      <li>
        27 - अब्दुल कलाम आजाद (वर्ष 1992)
      </li>
      <li>
        27 - जेआरडी टाटा (वर्ष 1992)
      </li>
      <li>
        28 - सत्यजीत रे (वर्ष 1992)
      </li>
      <li>
        29 - गुलजारीलाल नंदा (वर्ष 1997)
      </li>
      <li>
        30 - अरुणा असफ अली (वर्ष 1997)
      </li>
      <li>
        31 - ए पी जे अब्दुल कलाम (वर्ष 1997)
      </li>
      <li>
        32 - एमएस सुब्बुलक्ष्मी (वर्ष 1998 )
      </li> 
      <li>
        33 - चिदंबरम सुब्रमण्यम (वर्ष 1998)
      </li>
      <li>
        34 - जयप्रकाश नारायण (वर्ष 1999)
      </li>
      <li>
        35 - अमर्त्य सेन (वर्ष 1999)
      </li>
      <li>
        36 - गोपीनाथ बोरदोलोई (वर्ष 1999)
      </li>
      <li>
        37 - रवि शंकर (वर्ष 1999)
      </li>
      <li>
        38 - लता मंगेशकर (वर्ष 2001)
      </li>     
      <li>
        39 - बिस्मिल्लाह खाँ (वर्ष 2001)
      </li>
      <li>
        40 - भीमसेन जोशी (वर्ष 2009)
      </li>
      <li>
        41 - सीएनआर राव (वर्ष 2014)
      </li>
      <li>
        42 - सचिन तेंदुलकर (वर्ष 2014)
      </li>
      <li>
        43 - मदन मोहन मालवीय (वर्ष 2015)
      </li>
      <li>
        44 - अटल बिहारी वाजपेयी (वर्ष 2015)
      </li>
                
    </ul>
  </ion-card>

 
</ion-content>
