<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Share App</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <button ion-button class="bg1" (click)="onshare('whatsapp')" type="submit">
    <img src="assets/icon/whatsapp-logo.svg" /> Share on Whatsapp
  </button>
  <button ion-button class="bg15" (click)="onshare('facebook')" type="submit">
    <img src="assets/icon/facebook.svg" /> Share on Facebook
  </button>
  <!-- <button ion-button class="bg9" (click)="onshare('whatsapp')" type="submit">
    Share on Facebook
  </button> -->
</ion-content>
