
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>भारत के राज्य और राजधानी</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-row class="heading">
      <ion-col>राज्य</ion-col>
      <ion-col>राजधानी</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>राजस्थान</ion-col>
      <ion-col>जयपुर</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>पंजाब</ion-col>
      <ion-col>चंडीगढ़</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>उड़ीसा </ion-col>
      <ion-col>भुिनेश्वर</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>नागालैंड</ion-col>
      <ion-col>कोहिमा </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>मेघालय </ion-col>
      <ion-col>शिलॉन्ग </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>महाराष्ट्र </ion-col>
      <ion-col>मुम्बई </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>मध्य प्रदेश </ion-col>
      <ion-col>भोपाल</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>केरल</ion-col>
      <ion-col>त्रिवेंद्रम</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>कर्णाटक </ion-col>
      <ion-col>बंगलौर </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>हिमाचल प्रदेश</ion-col>
      <ion-col>शिमला</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>हरियाणा</ion-col>
      <ion-col>चंडीगढ़</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>गुजरात </ion-col>
      <ion-col>गांधीनगर</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>बिहार</ion-col>
      <ion-col>पटना</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>असम </ion-col>
      <ion-col>दिसपुर</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>आंध्रप्रदेश </ion-col>
      <ion-col>हैदराबाद</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>अरुणाचल प्रदेश </ion-col>
      <ion-col>ईटानगर</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>तेलंगाना </ion-col>
      <ion-col>हैदराबाद</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>छतीसगढ़ </ion-col>
      <ion-col>रायपुर </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>उतरांचल </ion-col>
      <ion-col>देहरादून</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>झारखण्ड </ion-col>
      <ion-col>रांची</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>जम्मू और कश्मीर </ion-col>
      <ion-col>श्रीनगर </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>गोवा </ion-col>
      <ion-col>पणजी </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>मिजोरम </ion-col>
      <ion-col>आईजोल </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>सिक्किम</ion-col>
      <ion-col>गंगटोक </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>त्रिपुरा</ion-col>
      <ion-col>अगरतला</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>मणिपुर</ion-col>
      <ion-col>इम्फाल </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>पश्चिम बंगाल</ion-col>
      <ion-col>कलकत्ता </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>तमिलनाडु</ion-col>
      <ion-col>चेन्नई</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>उत्तर प्रदेश</ion-col>
      <ion-col>लखनऊ</ion-col>
    </ion-row>
    

  </ion-card>

  <ion-card>
    <ion-row class="heading">
      <ion-col>केंद्रशासित  प्रदेश</ion-col>
      <ion-col>राजधानी</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>दिल्ली</ion-col>
      <ion-col>दिल्ली </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>चंडीगढ़</ion-col>
      <ion-col>चंडीगढ़</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>अंडमान निकोबार</ion-col>
      <ion-col>पोर्ट विलेयर</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>दादर नगर हवेली</ion-col>
      <ion-col>सिलवासा</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>पांडिचेरी</ion-col>
      <ion-col>पांडिचेरी</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>लद्दाख</ion-col>
      <ion-col>कवास्ती</ion-col>
    </ion-row>
  </ion-card>
</ion-content>
