page-state-india {

    ion-content{

        background: #f5f5f5!important;

        ion-card{

            margin-top: 15px;
            width: calc(100% - 30px);
            box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px 5px 10px 10px!important;
            padding-bottom: 10px;

            ion-col{

                padding-left: 15px!important;
            }

        }

        .heading{

            ion-col{

                background: #60d8f5!important;
                color: #fff!important;
                font-weight: bold!important;
              

            }

           
        }

     }

}
